.container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
.card, .jumbotron{
 border-radius: 10px;
 background-color: #2a26ff;
 background: linear-gradient(85deg,#00143ade,#000000bd);
 box-shadow: .5px 1px rgba(47, 0, 255, 0.486);

}
.modal-content{
  background-color: #2a26ff;
  background: linear-gradient(85deg,#00143a,#000000bd);
  box-shadow: .5px 1px rgba(47, 0, 255, 0.486);
}
.form-select{
  border-radius: 5px;
  margin-right:10px ;
  height: 40px;
}
.select-selected {
  background-color: DodgerBlue;
}
.items{
  border-radius:20px ;
  color: white;
  border-radius: 10px;
  background-color: #00143a;
}
#cards{
  display: flex;
  display: inline-block;
  margin: 10px;
  padding: 10px;
  margin-left: 50px;
}
.cont{
  margin: 10px;
  padding: 20px;
}
.circular-menu {
	position: fixed;
	bottom: 1em;
	right: 1em;
  }
  
  .circular-menu .floating-btn {
	display: block;
	width: 3.5em;
	height: 3.5em;
	border-radius: 50%;
	background-color: rgba(47, 0, 255, 0.486);
	box-shadow: .5px 1px rgba(47, 0, 255, 0.486);   
	color: hsl(0, 0%, 100%);
	text-align: center;
	line-height: 3.9;
	cursor: pointer;
	outline: 0;
  }